.collapsible {
    background-color: #E7DEDE;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 24px;
    border-radius: 5px;
}

    .active, .collapsible:hover {
        background-color: #CCCCCC;
    }

.content {
    padding: 18px;
    background-color: #E7DEDE;
    transition: max-height 0.2s ease-out;
    display: none;
}