/*Shared Elements*/
h1 {
    text-align: center;
}
nav {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
main {
    width: 90%;
    margin: auto;
}
header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: auto;
}
/*index.html*/
#mainContent {
    width: 80%;
    float: left;
}
aside {
    width: 20%;
    float: left;
}
/*enlist.html*/
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

    .active, .collapsible:hover {
        background-color: #555;
    }

    .collapsible:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
/*movements.html*/
/*#movements {
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}*/
/*photographs.html*/
#historicalPhotograps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
/*gallery.html*/
#photoGallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}