/*Shared Elements*/
body {
    background: #C7BEBE;
    font-family: 'Comic Helvetic Light', sans-serif;
}
h1 {
    text-align: center;
}
nav {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
main {
    width: 90%;
    margin: auto;
}
header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: auto;
    position: relative;
    /*background: #AAAAAA;*/
    /*border-radius: 5px;*/
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #C7BEBE;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
a {
    text-decoration: none;
    color: #D70000;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #D70000;
}
.title {
    text-decoration: none;
    color: #000000;
}
.title:hover {
    text-decoration: none;
}
.title:visited {
    color: #000000;
}
html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}
@font-face {
    font-family: "Comic Helvetic Light";
    src: url("./public/fonts/comic_helvetic/ComicHelvetic_Light.otf");
}
@font-face {
    font-family: "Comic Helvetic Medium";
    src: url("./public/fonts/comic_helvetic/ComicHelvetic_Medium.otf");
}
@font-face {
    font-family: "Comic Helvetic Heavy";
    src: url("./public/fonts/comic_helvetic/ComicHelvetic_Heavy.otf");
}
/*index.html*/
#mainPageContent {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#frontPicture {
    z-index: 0;
}
footer {
    text-align: center;
}
/*enlist.html*/
.collapsible {
    background-color: #C7BEBE;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 24px;
    font-family: 'Comic Helvetic Light', sans-serif;
}
.active, .collapsible:hover {
    background-color: #ccc;
}
.content {
    padding: 18px;
    background-color: white;
    transition: max-height 0.2s ease-out;
    display: none;
}
/*.collapsible:after {
    content: '\02795';*/ /* Unicode character for "plus" sign (+) */
    /*font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";*/ /* Unicode character for "minus" sign (-) */
/*}*/
/*movements.html*/
/*a.movementsHeader {
    display: block;
    align-items: center;
}
.movementsHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}*/
#movements {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/*photographs.html*/
#historicalPhotograps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
/*gallery.html*/
#photoGallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
